<div class="row">
	<div class="col-sm-6 ">
		<div class="panel panel-default">
			<div class="panel-heading">Building</div>
			<div class="panel-body">
				<div class="col-md-12">
					<form ng-submit="submit()" name="buildingForm" novalidate>
						<div class="form-group"
							ng-class="{ 'has-error': buildingForm.name.$invalid && buildingForm.name.$dirty }">
							<label for="name">Name:</label> <input type="text" required
								class="form-control" ng-model="building.name" id="name"
								name="name">
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': buildingForm.owner.$invalid && buildingForm.owner.$dirty }">
							<label for="name">Vlasnik:</label> <input type="text" required
								class="form-control" ng-model="building.owner" id="owner"
								name="owner">
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': buildingForm.location.$invalid && buildingForm.location.$dirty }">
							<label for="location">Location:</label> <input type="text"
								required class="form-control" ng-model="building.location"
								id="location" name="location">
						</div>

						<div class="form-group"
							ng-class="{ 'has-error': buildingForm.numberOfApartments.$invalid && buildingForm.numberOfApartments.$dirty }">
							<label for="pwd">Number of apartments:</label> <input type="number"
								required class="form-control" id="numberOfApartments"
								ng-model="building.numberOfApartments" name="numberOfApartments">
						</div>
						
						<button type="submit" class="btn btn-default"
							ng-disabled="buildingForm.$invalid">{{buttonText}}</button>
							
						<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Buildings
				<button type="button" class="btn btn-default btn-sm"
					ng-click="initAddBuilding()">
					<span class="glyphicon glyphicon-plus"></span> New Building
				</button>
			</div>
			<div class="panel-body">

				<div class="alert alert-info margin-top-5" ng-show="deleteMessage">{{deleteMessage}}</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Location</th>
							<th>Ukupan broj stanova</th>
							<th>Useljeni stanovi</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="building in buildings">
							<td>{{$index+1}}</td>
							<td>{{building.name}}</td>
							<td>{{building.location}}</td>
							<td>{{building.numberOfApartments}}</td>
							<td>{{building.numberOfAparartmentsWithTenats}}</td>
							<td><button type="button" class="btn btn-default btn-sm"
									ng-click="initEdit(building)">
									<span class="glyphicon glyphicon-edit"></span>
								</button></td>
							<td>
								<button type="button" class="btn btn-default btn-sm"
									ng-click="deleteBuilding(building)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Stanovi u zgradi
			</div>
			<div class="panel-body">

				<div class="alert alert-info margin-top-5" ng-show="deleteMessageStan">{{deleteMessageStan}}</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Naziv</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="apartman in building.apartments">
							<td>{{$index+1}}</td>
							<td>{{apartman.name}}</td>
							<td>
								<button ng-show="building" type="button" class="btn btn-default btn-sm"
									ng-click="deleteStanFromBuilding(apartman)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Stanovi bez zgrade
			</div>
			<div class="panel-body">

				<div class="alert alert-info margin-top-5" ng-show="dodajMessageStan">{{dodajMessageStan}}</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Naziv</th>
							<th>Dodaj u zgradu</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="a in apartmens">
							<td>{{$index+1}}</td>
							<td>{{a.name}}</td>
							<td>
								<button ng-show="building" type="button" class="btn btn-default btn-sm"
									ng-click="addStanToBuilding(a)">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Institucije nadlezne za zgradu
			</div>
			<div class="panel-body">

				<div class="alert alert-info margin-top-5" ng-show="deleteMessageInstitucija">{{deleteMessageInstitucija}}</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Naziv</th>
							<th>Lokacija</th>
							<th>Direktor</th>
							<th>Kontakt Email</th>
							<th>Kontakt Telefon</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="institution in institutions">
							<td>{{$index+1}}</td>
							<td>{{institution.name}}</td>
							<td>{{institution.location}}</td>
							<td>{{institution.director}}</td>
							<td>{{institution.email}}</td>
							<td>{{institution.contactPhone}}</td>
							<td>
								<button type="button" class="btn btn-default btn-sm"
									ng-click="deleteInstitutionFromBuilding(institution)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>